h1 {
  color: red !important;
}
  

/* Картинка */
.img-tekst {
  width: 100%;
}

/* Текст поверх картинки */

.img-logo {
  width: 69%;
  top: -132px;
}

.line-container {
  width: 600px;
  height: 228px;
  display: flex;
  justify-content: center;


}

.line-container svg {
  position: absolute;
  top: 44px;
  width: 627px;
}
.line-container img{
  width: 271px;
  margin-bottom: 102px;
}

svg {
  width: 100%;
  height: auto;
 
}

@media (max-width: 676px) {
  .text-overlay{
     font-size: 52px !important;
  }
  .kyrgys-das{
    font-size: 13px !important;
  }

  .highlight p{
    margin-right: 45px !important;
  }
  .photo-discr1{
    width: 50% !important;

    }
    .discr1{
margin-left: 3% !important;
    }
}

@media (max-width: 554px) {
  .line-container svg {
    width: 469px;
  }
  .line-container {
    width: 545px;
    }
    .opyt-span {
      font-size: 68% !important;}
      .media-image, .media-video {
        width: 109% !important;
        bottom: 8px !important;}

        .media-item video {

          top: 83% !important;
        }

        .gallery-container img {
          max-height: 170px !important;}

}
@media (max-width: 494px) {

  .line-container svg {
    width: 380px !important;
  }
  .text-overlay{
    font-size: 41px !important;
 }
 .btn-hoverr1{
  width: 175px !important;
  font-size: 10px !important;
 }
 .btn-hoverr{
  width: 138px !important;
  font-size: 10px !important;
 }
 .div-tour{
  padding: 6px !important;
  gap: 4px !important;
 }
 .kyrgys-das{
  font-size: 10px !important;
}
.span-kyr{
font-size: 143% !important;
}

.span-maunt {
  font-size: 98% !important; }
  .opyt-span {
    font-size: 60% !important
    ;
  }
  .div-container p {
    font-size: 11px !important;
}
.btn-hover2 {
  width: 204px;
    padding-block: 7px !important;}
    .btn-hover2 {
      padding-block: 2px !important;
      width: 225px !important;
      font-size: 17px !important;
    }

    .big-div {
      display: block !important;
    }
    .title {
      writing-mode: horizontal-tb !important;
    font-size: 3rem !important;
    text-align: center !important;
    transform: none !important
    ; 
  
  }
  .small-div{
   margin-top: 40% !important;
   justify-content: center !important;

  }
  .main-div {
    display: block !important;
  align-items: center !important;
}
.line-container {
  width: 498px;}
  .photo-discr1 {
    width: 73%;
    height: 305px !important;
    margin-left: 126px;}

    .discr1 {

      width: 87% !important;
      font-size: 93% !important;
      display: grid !important;
      justify-content: end;

  }
  .photo-discr2 {
    width: 55% !important;
    height: 305px !important;
    margin-left: 103px;
  
  }

    .discr2{

      width: 87% !important;
      font-size: 93% !important;
      display: grid !important;
      justify-content: end;
      margin-left: 1px !important;
   
  }
  
 

  .paragraff {
    font-size: 113% !important;}

    .paragraff2 {
      font-size: 13px;}

      .attention-icon {

 
      margin-left: 201px !important;
    }

        .faq-item {
        
          width: 75% !important;
          margin-left: 13% !important;}

          .icon-div{
            margin-left: 4% !important;
            margin-top: 4% !important;
          }
          .div-logoo {
            width: 23% !important;}
            .div-footer{
              margin-left: -14px !important;
            }
            .p-div {
    
              margin-top: 6% !important;
              margin-left: 0% !important;}



.media-pfoto {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr) !important;}
  .all-container {
 
    height: 808px !important;}
 
  
}

@media (max-width: 375px) {

  .line-container {
    width: 281px !important;
    margin-top: -44px !important;
  }
    .line-container img {
    width: 197px !important;
    margin-bottom: 51px;
          

  }
  .opyt-span {
    font-size: 92% !important;
}


    .line-container svg {
      width: 343px !important;
  }
  .div-container {
    display: block !important;}
    .text-overlay {
      font-size: 224% !important;}
      .image-container {
 
        height: 97vh !important;
      }   
      
      .lecalo{
        margin-left: -17px !important;
      }
      .tkani{
        margin-left: -19px !important;
      }

      .div-container {
        margin-left: 72px !important;}

        .photo-discr1 {
          height: 228px !important;
     
          margin-left: 91px;
      }
      .discr1 {
        margin-left: 8% !important;
        font-size: 89% !important;
    }
    .discr2 {
      margin-left: 7% !important;
  }
    .photo-discr2 {
      width: 55% !important;
      height: 253px !important;
      margin-left: 81px;
  }
  .p-div2{
font-size: small;
  }
  .attention-icon {
    margin-left: 155px !important;
}
}

@media (max-width: 425px) {
  .line-container {
    width: 413px;
}
.p-div2{
  font-size: 12px !important;
    }
    .attention-icon {
      margin-left: 180px !important;
  }
  .photo-discr1 {
  
    margin-left: 105px;
}
.wir{
  font-size: 14px !important;
}
.proj{
  font-size: 14px !important;
}
.tour{

  margin-top: 45px !important;
}
.target{
  margin-top: 19px !important;
}
line-container img {
  margin-left: 10px !important;
}
}

@media (max-width: 375px) {
  .attention-icon {
    margin-left: 155px !important;
}
.faq-question {
  font-size: 14px !important;
}
.line-container img {
  width: 197px !important;
  margin-bottom: 55px;
}
.opyt-span {
  font-size: 76% !important;
}
}
@media (max-width: 320px) {
  .line-container svg {
    width: 289px !important;
}
.text-overlay {
  font-size: 195% !important;
}
.div-tour {
  padding: 3px !important;
  gap: 1px !important;
}
.div-tour button {
  padding-block: 6px !important;
}
.btn-hoverr1 {
  width: 143px !important;
  font-size: 9px !important;
}
.btn-hoverr {
  font-size: 10px !important;
}
.gallery-container img {
  max-height: 120px !important;
}
.div-container {
  margin-left: 54px !important;
}
.photo-discr1 {
  margin-left: 77px;
}
.discr1 {
  font-size: 78% !important;
}
.discr2 {
  font-size: 80% !important;
}
.div-logoo {
  width: 36% !important;
}
.div-footer {
  margin-left: -97px !important;
}
.icon-div {
  margin-left: -2% !important;
  margin-top: 8% !important;
  width: 77px !important;
}
.p-div {
  margin-top: 7% !important;
  margin-left: 0% !important;
}
.attention-icon {
  margin-left: 130px !important;
}
}
